i.fa-circle-o-notch{
  font-size:14px;
}

i.fa-circle-thin{
  font-size:10px;
}

a#exColor:hover{

}

#buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#headerContainer{
display: flex;
flex-direction: row;
justify-content: center;

}

.imageHeader{
  text-align:center;
  flex-grow:2;
  padding-top:15px;
}

#flexContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
#exerciseContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chat-body-column{
  float: right;
}

#chat-log{
  max-height: 100px;
  overflow-y: scroll;

}
.well{}
#inputBox{
  display: flex;
  flex-direction: row;
}

.chatContainer{
  height:400px;
}
