<template name="exerciseItem">
  {{> Template.dynamic template=top}}
<!--   {{> sidebar}}-->  
  {{#with item}}
    <div class="container">
        <div class="row">
            <!--1st column-->
            <div class="col s10">
                  <nav>
                    <div class= "nav-wrapper">
                    <div class= "col s12">
                      <a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
                      <a href="/{{section}}">{{section}}</a>
                      <a href="/{{name}}" class="active">{{name}}</a>
                    </div>
                    </div>
                  </nav>
                <div id="code-mirror">
                  {{> CodeMirror id="some-id" name="someName" options=editorOptions code=editorCode reactiveVar="varName"}}
                </div>
                <button type="submit" class="btn btn-primary" id="run">
                  Run
                </button>
                <button class="btn btn-danger" id="help">
                        <a href="/">Q/A Forum</a>
                </button>
                <hr>
            </div>
            <!-- 2nd column -->
            <div class="col s2">{{> sidebar}}</div>
        </div>
    </div>
  {{/with}}
</template>
