/* Main Content */
.landing .container {
  max-width: 1190px;
  /* margin: auto; */
}


#introduction .col-md-6 {
  /* padding: 50px; */
}

/* ========= 3 column section ========= */
#action-section {
  margin:auto;
  max-width:880px;
  /* no text align */
  text-align: center;
}
#action-section .row img{
  padding: 10%;
}

#intro-content {
  padding: 8% 0 0 5%;
}

#introduction .wrap {
  margin: 0 auto;
  padding: 60px 0;
  width: 960px;
  position: relative;
  z-index: 2;
}

#introduction .wrap h2 {
  display: block;
  width: 670px;
  text-align: center;
  opacity: 1;
}

/* ========= Bat Logo ========= */

.bat-logo {
  background: #242424 url('/noding_bat_v3.png') no-repeat 19px center;;
  height: 100px;
  width:100px;
  position: absolute;
  left: 50%;
  margin-left: -39px;
  bottom: -34px;
  z-index: 5;
  -ms-transition: all .3s ease-out 1s;
    -webkit-transition: all .3s ease-out 1s;
    transition: all .3s ease-out 1s;
    -webkit-transition-timing-function: cubic-bezier(0.68,-.55,.265,1.55);
    -ms-transition-timing-function: cubic-bezier(0.68,-.55,.265,1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

    ;
}
