<template name="profile">
{{> Template.dynamic template=top}}
  {{#if currentUser}}
	<div class="container">
		<div class="row">
    {{#with user}}
      <h3><img src="/bat-1.png" alt="" height="50px;" width="50px;"/>{{currentUser}}</h3>
      <h4>Problems completed: <b>{{bats.length}}</b></h4>
      {{#each usersBats}}
      <div class="usersBats">
        <a href="/{{section}}/{{name}}">{{name}}</a>
      </div>
      {{/each}}

      {{#each batDiff}}
        <div class="batDiff">
          <a href="/{{section}}/{{name}}" style="color:grey !important;">{{name}}</a>
        </div>
      {{/each}}

    {{/with}}
  </div>
</div>

{{else}}

  <h1 align="center">Not Logged in</h1>
  {{/if}}
{{> Template.dynamic template=footer}}
</template>
