<template name="profile">
{{> Template.dynamic template=top}}
  {{#if currentUser}}
	<div class="container">
		<div class="row">
    {{#with user}}
      <img src="/rank-{{currentRank}}.svg" alt="" height="50px;" width="50px;"/>
      <span style="text-align:center">{{currentUser}}</span>
      <h4>Problems completed: <b>{{bats.length}}</b></h4>
      <!-- {{#each usersBats}}
      <div class="usersBats">
        <a href="/{{section}}/{{name}}" class="notAchieved">{{name}}</a>
      </div>
      {{/each}} -->
      <div class="row">
        {{#each allBats}}
        <a href="/{{section}}/{{name}}" class="notAchieved">
        <div class="col-md-3 portfolio-item">
          <img src="/bat-{{@index}}.svg" href="/exercises/{{section}}/{{name}}" width="75px;"/>
          <p></p>
            {{name}}
        </div>
        </a>
        {{/each}}
      </div>
    {{/with}}
  </div>
</div>

{{else}}
  <h1 align="center">Login first! {{> atNavButton}}</h1>
  {{/if}}
{{> footer}}
</template>
