#usersform{
  overflow-y: scroll;
  height: 530px;
}

.usersBats{

}

.batDiff{
  color: grey;
  text-decoration: none;

}

.exercise-container{
  display: flex;
  flow-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 32px;
}

a {
  color: grey;

}
