<template name="profile">
{{> Template.dynamic template=top}}
  {{#if currentUser}}
	<div class="container">
		<div class="row">
    {{#with user}}
      <h3><img src="/bat-1.svg" alt="" height="50px;" width="50px;"/>{{currentUser}}</h3>
      <h4>Problems completed: <b>{{bats.length}}</b></h4>
      <!-- {{#each usersBats}}
      <div class="usersBats">
        <a href="/{{section}}/{{name}}" class="notAchieved">{{name}}</a>
      </div>
      {{/each}} -->

      <div class="row">
        {{#each allBats}}
        <div class="col-md-3 portfolio-item">
          <img src="/bat-{{@index}}.svg" alt="" height="50%" width="50%" class="img-responsive"/>
          <div class="col-md-3">
              <div class="notAchieved">
                <a href="/{{section}}/{{name}}" class="notAchieved">{{name}}</a>
              </div>
          </div>
        </div>
        {{/each}}
      </div>

    {{/with}}
  </div>
</div>

{{else}}

  <h1 align="center">Not Logged in</h1>
  {{/if}}
{{> Template.dynamic template=footer}}
</template>
