<template name = "landing">
<div class="animated slideInRight">
  <div class="parallax-container">
    <div class="parallax"><img src="/landing.jpg"></div>
  </div>
  <div class="section black">
    <div class="row container">
      <h2 class="header">Welcome Home.</h2>
        <p>Each exercise is a javascript
        version from the wonderful <a href="http://codingbat.com/">Coding Bat
        </a>.</p>
        <div class="panel panel-primary"></div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/nodingBatheader.png"></div>
  </div>
    <div class="container">
      <div class="well row">
        <h4 align="">Exercises</h4>
        <div id="exerciseContainer">
          {{#each exerciseLink}}
             <div class="exerciseName">
               <a href="/exercises/{{section}}/{{name}}" id="exColor">&nbsp;{{name}}&nbsp;</a>
             </div>
          {{/each}}
          <br>
      </div>
      </div>
    </div>
  </div>
</template>
