<template name="sidebar">
  <div class="container">
    <div class="row">
      {{#with post}}
            <div class="col-md-4" id="side-bar">
              <!-- <div class="row"> -->
                <div class="well">
                    <div class="panel">
                        <div id="solution"></div>
                        <div id="userSolution"></div>
                        <div id="flexContainer">
                          <div id="color-title">
                            Expected Output <i class="fa fa-meh-o rotate"></i> Run
                          </div>
                        </div>
                        <div id="color" >
                            <div class="colors"></div>
                            <div class="colors"></div>
                            <div class="colors"></div>
                            <div class="colors"></div>
                        </div>
                    </div>
                </div>
                <!-- Blog Categories Well -->
                <div class="">
                  <div class="">
                    {{#if success}}
                        <div style="text-align: center;">
                          <i style="color: green;" class="fa fa-check fa-5x"></i>
                          <h1 style="margin-top: 0px;">Success!</h1>
                        </div>
                    {{/if}}
                    {{#if failure}}
                        <div style="text-align: center;">
                          <i style="color: red;" class="fa fa-remove fa-5x"></i>
                          <h1 style="margin-top: 0px;">Failure!</h1>

                        </div>
                    {{/if}}

                    {{#if postForum}}
                        <h4 align="center">Help Chat</h4>
                        {{> postHelp}}
                    {{/if}}
                  </div>
                </div>
            </div>
            {{/with}}
    </div>
  </div>
</template>
