<template name = "sidebar">
<div class="row">
{{#with post}}
            <div class="col-md-4" id="side-bar">
                <div class="well">
                    <h4>Welcome.</h4>
                    <p>Each exercise is a javascript
                    version from the wonderful <a href="http://codingbat.com/">Coding Bat
                    </a>.</p>
                    <div class="panel panel-primary"></div>
                </div>
                <div class="well">
                    <div class="panel panel-primary">
                        <div id="solution"></div>
                        <div id="userSolution"></div>
                        <div id="color">
                            <div class="colors">name:{{name}}</div>
                            <div class="colors">parameters: {{parameters}}</div>
                            <div class="colors">a:{{a}}</div>
                            <div class="colors">a</div>
                        </div>
                    </div>
                </div>
                <!-- Blog Categories Well -->
                <div class="well">
                    <div class="row">
                    <!-- <div class="row"> -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                               <li><a href="#Warm-up1">Warm-up 1</a>
                                </li>
                                <li><a href="#">Warm-up 2</a></li>
<!--                                
                                <li><a href="#">String-1</a>
                                </li>
                                <li><a href="#">List-1</a>
                                </li> -->
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                        <!--     <ul class="list-unstyled">
                                <li><a href="#">Logic-1</a>
                                </li>
                                <li><a href="#">Logic-2</a>
                                </li>
                                <li><a href="#"></a>
                                </li>
                                <li><a href="#"></a>
                                </li>
                            </ul> -->
                        </div>
                        <!-- /.col-lg-6 -->
                    <!-- </div> -->
                    <!-- /.row -->
                </div>
                </div>
            </div>
            {{/with}}
</div>
</template>