<template name = "exerciseSection">
{{> Template.dynamic template=top}}
  <div class="container">
    <div class="row">
      <div class="animated slideInLeft" id="spoogScroll">
       {{#each exercises}}
       <nav>
         <div class= "nav-wrapper">
         <div class= "col s12">
           <a href="/" class="breadcrumb">Home</a>
           <a href="/{{section}}" class="breadcrumb">{{section}}</a>
           <a href="/{{name}}" class="active breadcrumb">{{name}}</a>
           <a href="/{{section}}/{{name}}" class="breadcrumb">Start</a>
         </div>
         </div>
       </nav>
       {{/each}}
     </div>
    </div>
  </div>
</template>
