<template name="postItem">
{{> Template.dynamic template=top}}
<div class="container">
  <h5>Help forum for {{exerciseName}}</h5>
  {{#each getComments}}
  <div class="row">
    <div class="col-xs-1" style="padding:5px;">
      <img src="/rank-{{userRank}}.svg" alt="" height="50px;"/>{{username.username}}
    </div>
    <div class="col-xs-9">
      <blockquote class="blockquote comment-entry">
        <p>{{body}}</p>
        <small>{{username.username}}<cite title="Source Title">
          {{timestamp}}</cite>
        </small>
      </blockquote>
    </div>
    <div class="col-xs-2">
      <button class="{{upvotedClass}} btn"><i class="fa fa-arrow-up"></i>
         {{votes}} votes</button>
    </div>
   </div>
   {{/each}}
   <textarea class="form-control" rows="2"></textarea>
   <button type="submit" class="btn btn-default" id="submit">Submit</button>
</div>
</template>
