<template name="postItem">
    <div class="container">
        <div class="row">
          {{#with author}}
            <div class="col-md-8">
                <h3>
                  <ol class="breadcrumb">
                      <li><a href="#">{{_id}}</a></li>
                      <li><a href="#">{{section}}</a></li>
                      <li class="active">{{sleepIn.name}}</li>
                  </ol>
                </h3>
                {{> CodeMirror id="some-id" name="someName" options=editorOptions code=editorCode reactiveVar="varName"}}
                <button type="submit" class="btn btn-primary">
                        Run
                </button>
                <hr>
            </div>
          {{/with}}
        </div>
    </div>
</template>


<!-- <template name="postItdsxcem">
  <div class="post">
    <div class="post-content">
      <h3><a href="{{url}}">{{name}}</a><span>{{domain}}</span></h3>
    </div>
    <a href="{{pathFor 'codeEditor'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template> -->