<template name="postList">
{{> well}}
<div class="container">
        <div class="row">
            <div class="col-md-8" id="spoogScroll">
    		       {{#each posts}}
                <h4>
                  <ol class="breadcrumb">
	                  <li><a href="/">{{section}}</a></li>
	                  <li><a href="/{{name}}">{{name}}</a></li>
	                  	<li>
	                  	<a href="/{{name}}" class="discuss btn btn-default">Start</a>
	              		</li>
                  </ol>
                </h4>
			         {{/each}}
			      </div>
    	 </div>
    </div>
</template>
