<template name="exerciseList">
  {{> Template.dynamic template=top}}
  {{#if currentUser}}
  <div class="container">
    <div class="row">
      <div class="animated fadeIn" id="spoogScroll">
       <table class="table table-striped table-hover">
         <thead>
          <tr>
            <th>
              Exercises to conquer...
            </th>
          </tr>
         </thead>
         <!-- {{#with user}} -->
        {{#each exercises}}
         <tbody>
           <tr>
             <th><a href="/exercises/{{section}}">{{section}}</a></th>
             <th>
               <a href="/exercises/{{section}}/{{name}}">{{name}}</a>
             </th>
             <th><a href="/exercises/{{section}}/{{name}}">
               <i style="color: green;" class="fa fa-check fa-2x animated undone">{{name}}</i></a>
             </th>
           </tr>
         </tbody>
        {{/each}}
        <!-- {{/with}} -->
       </table>
       </div>
    </div>
  </div>
    {{else}}
    <div class="container">
      <div class="row">
        <h5>Remember to Login!  {{> atNavButton}}</h5>
        <div class="animated fadeIn" id="spoogScroll">
         <table class="table table-striped table-hover">
           <thead>
            <tr>
              <th>
                Exercises to conquer...
              </th>
            </tr>
           </thead>
           <!-- {{#with user}} -->
          {{#each exercises}}
           <tbody>
             <tr>
               <th><a href="/exercises/{{section}}">{{section}}</a></th>
               <th>
                 <a href="/exercises/{{section}}/{{name}}">{{name}}</a>
               </th>
               <th><a href="/exercises/{{section}}/{{name}}">
                 <i style="color: green;" class="fa fa-check fa-2x animated undone">{{name}}</i></a>
               </th>
             </tr>
           </tbody>
          {{/each}}
          <!-- {{/with}} -->
         </table>
         </div>
      </div>
    </div>
  {{/if}}
  <div class="row">
    {{> Template.dynamic template=footer}}
  </div>
</template>
